body {
    font-family: sans-serif;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header,
.footer {
    height: 75px;
    background: #1f2937;
    display: flex;
    align-items: center;
}

.header {
    justify-content: space-evenly;
}

.header h2 {
    color: #f9faf8;
    font-size: 24px;
}

.header .links {
    color: #e5e7eb;
    font-size: 18px;
    list-style-type: none;
    display: flex;
    gap: 25px;
}

.footer {
    color: #e5e7eb;
    justify-content: center;
}

.first-panel{
    background: #1f2937;
    padding: 50px;
    display: flex;
    justify-content: center;
} 

.first-panel .content {
    display: flex;
    flex-direction: column;
}

.first-panel .title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bold;
}

.first-panel .text {
    color: #e5e7eb;
    font-size: 18px;
}

.second-panel {
    text-align: center;
    color: #1f2937;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.second-panel .title {
    font-size: 36px;
    font-weight: bold;
}

.second-panel .content {
    display: flex;
    gap: 50px;
}

.third-panel {
    background: #e5e7eb;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.third-panel .quote-text {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
}

.third-panel .name {
    font-weight: bold;
}

.fourth-panel {
    background: #3882f6;
    color: white;
    margin: 50px;
    padding: 50px;
}
